body{font-family: sans-serif;background-color: #263238;background-attachment: fixed;
  position: absolute;top: 0;bottom: 0;left: 0;right: 0;padding: 0;margin: 0;font-size: 14px;}
.container{max-width: 600px;margin: 0 auto;min-height: 100%;background-color: #263238;}
header{background: #263238;color: #F0F0F0;text-align: center;position: relative; 
  margin: auto;padding: 3px;font-size: 10px;font-weight: thin;}
#login-buttons {display: block;}
h1{font-size: 1.5em;margin: 0;margin-bottom: 10px;display: inline-block;margin-right: 1em;}
form {margin-top: 10px;margin-bottom: -10px;position: relative;}
ul{margin: 0;padding: 0;} 
.delete{float: right;font-weight: bold;background: none;font-size: 1em;border: none;position: relative}
li{position: relative;list-style: none;}
li .text{margin-left: 10px;}
li.checked{color: #888;}li.checked .text{text-decoration: line-through;}
li.private {background: #eee;border-color: #ddd;}
.toggle-private {margin-left: 5px;}

@media (max-width: 600px) {
  li{padding: 12px 15px;}
  .search{width: 150px;clear: both;}
  .new-task input{padding-bottom: 5px;}
}

.navbar{width: 100%;height: 75px;font-size: 18px;color: #F0F0F0;border-radius: 1px;
  margin: 5px 0px}
.navbar .buttons{margin-top: 20px; height: 80%; width: 100%;}
.navbar .buttons .profile-edit {float: left;width: 100%;height: 100%; border-radius: 3px;}

.navbar{background-color: #546E7A;}
.navbar .buttons{background-color: #37474F;}

.threshold, .critical{color:red; margin:4px;}

.dut-frame{border-radius: 3px;}

.dut-bar{width: 100%;height: 50px;font-size:18px;color:#F0F0F0}
.dut-bar .dut-title{float:left; padding:12px 8px;text-align: center;}
.dut-bar .tab-bar{display: inline-block;text-decoration:none!important;float:right;}
.dut-bar .tab-bar li{float:right;float:left;display:inline-block;padding:5px 10px;border-radius:5px;margin:5px;}

.dut-page{top: 0;left: 0;width: 100%;height: 100%;transition: all 0.8s ease;
  background-color: #66BB6A;border-radius: 5px;margin-bottom: 5px;
  font-size: 18px;color: #F0F0F0;margin-bottom: 5px;overflow: hidden;}
.dut-page .tab.open{height: 100%;}
.dut-page .col-1{width: 50%;float: left;}
.dut-page .col-2{width: 50%;float: left;}
.dut-page .tab{height: 0px; overflow: hidden;}
.dut-page .tab-title{margin-left:15px;}
.dut-page .channel-title{position: relative;padding: 5px 10px; }

.switch{position: relative;display: inline-block;width: 56px;height: 30px;float: right;margin: 4px}
.switch input{display:none;}
.slider{position: relative;cursor: pointer;top: 0;left: 0;right: 0;
  bottom: 0;-webkit-transition: .4s;transition: .4s;}
.slider:before{position: absolute;content: "";height: 26px;width: 26px;left: 2px;
bottom: 2px;-webkit-transition: .4s;transition: .4s;}
.slider.round {border-radius: 30px;}
.slider.round:before {border-radius: 50%;}
input:checked + .slider {background-color: #66BB6A;}
input:focus + .slider {box-shadow: 0 0 1px #66BB6A;}
input:checked + .slider:before {-webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);transform: translateX(26px);}

.dut-frame.green{background-color:#388E3C;}  
.dut-frame.green .dut-page{background-color: #66BB6A}
.dut-frame.green .tab-bar li{background-color:#1B5E20;color:#C8E6C9;}
.dut-frame.green .tab-bar li:hover{color:#1B5E20;background-color:#C8E6C9;}
.dut-frame.green .slider{background-color: #66BB6A;}
.dut-frame.green .slider:before{background-color: #388E3C;}

.dut-frame.red{background-color:#D32F2F;}  
.dut-frame.red .dut-page{background-color: #EF5350;}
.dut-frame.red .tab-bar li{background-color:#B71C1C;color:#FFCDD2}
.dut-frame.red .tab-bar li:hover{color:#B71C1C;background-color:#FFCDD2}
.dut-frame.red .slider{background-color: #EF5350;}
.dut-frame.red .slider:before{background-color: #D32F2F;}

.dut-frame.grey{background-color:#616161;}  
.dut-frame.grey .dut-page{height:0px;}
.dut-frame.grey .tab-bar li{background-color:#212121;color:#F5F5F5}
.dut-frame.grey .tab-bar li:hover{color:#212121;background-color:#F5F5F5}
.dut-frame.grey .slider{background-color: #BDBDBD}
.dut-frame.grey .slider:before{background-color: #616161}
