<head>
  <title>HTOL Semiconductor Test</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
</head>

<body>
  <div class="container" ng-app="HTOL" ng-controller="mainController">
    <div class="navbar">
      <div class="pages">
        <a href="" class="page-button devices" ng-click="dutList()">Devices</a>
        <a href="" class="page-button profiles" ng-click=profView()>Profile</a>
        <a href="" class="page-button analysis">Analysis</a>
      </div>
    </div>

    <!--<div ng-if="true" ng-include="imports/components/dutList/dutList.html"></div>-->

<!--    <div ng-view></div>-->
<!--<ui-view></ui-view>-->
    <dut-list ng-hide="hideDutList"></dut-list>
    <profile-viewer ng-hide="hideProfView"></profile-viewer>
  </div>
</body>


