<header>
  <h1>Devices Under Test</h1>
</header> 
  
<div class="navbar">
  <a href="#" class="page-button">Devices</a>
  <a href="#" class="page-button">Profile Edit</a>
  <a href="#" class="page-button">Analysis</a>

  <ul>
    <li ng-repeat="dut in $ctrl.duts">
      <div class="threshold-message" ng-hide="threshold(dut.temp)">
        DUT {{dut.index}} is over Threshold Temperature. Action required to shutdown test.
      </div>

      <div class="critical-message" ng-hide="critical(dut.temp)"> 
        DUT {{dut.index}} is over Critical Temperature. Test was automatically aborted.
      </div>
    </li>
  </ul>
</div>

<ul>
  <li ng-repeat="dut in $ctrl.duts">
  <div id="dut-item-{{dut.index}}">
  <div class="dut-frame green" ng-class="dutColor(dut.temp)">
    <div class="dut-bar">
      <div class="dut-title">
        DUT {{dut.text}}: {{dut.temp}}&degC
      </div>

      <ul class="tab-bar">
        <li class="tab-title Channels" ng-click="openChannels(dut.index)">Channels</li>
        <li class="tab-title 5-min" ng-click="open5min(dut.index)">5 Minutes</li>  
        <li class="tab-title 1-hour" ng-click="open1hr(dut.index)">1 Hour</li>
        <li class="tab-title 10-hour" ng-click="open10hr(dut.index)">10 Hours</li>
      </ul>
        
      <label class="switch">
        <input type="checkbox" ng-click="dutoff(dut.index)">
        <div class="switch slider round"></div>
      </label>
    </div>


    <div class="dut-page">

      <div id="Channels" class="tab">
        <h3 class="tab-title">Channel Voltages</h3>
        <div class="col-1">
          <div class="channel-title">SP: {{dut.SP}}</div>
          <div class="channel-title">ISNS: {{dut.ISNS}}</div>
          <div class="channel-title">DSA2: {{dut.DSA2}}</div>
          <div class="channel-title">PSR3: {{dut.PSR3}}</div>
          <div class="channel-title">PSR2: {{dut.PSR2}}</div>
          <div class="channel-title">VCC: {{dut.VCC}}</div>
          <div class="channel-title">VDD: {{dut.VDD}}</div>
          <div class="channel-title">ADC8: {{dut.ADC8}}</div>
        </div>
        <div class="col-2">
          <div class="channel-title">D5V: {{dut.D5V}}</div>
          <div class="channel-title">VLDO: {{dut.VLDO}}</div>
          <div class="channel-title">VCP: {{dut.VCP}}</div>
          <div class="channel-title">DSA1: {{dut.DSA1}}</div>
          <div class="channel-title">NSR: {{dut.NSR}}</div>
          <div class="channel-title">PSR1: {{dut.PSR1}}</div>
          <div class="channel-title">PLR: {{dut.D5V}}</div>
        </div>
      </div>

      <div id="5-min" class="tab">
        <h3 class="tab-title">5 Minute Analysis</h3>
      </div>

      <div id="1-hour" class="tab">
        <h3 class="tab-title">1 Hour Analysis</h3>
      </div>

      <div id="10-hour" class="tab">
        <h3 class="tab-title">10 Hour Analysis</h3>
      </div>
    </div>
  </div>
  </div>
  </li>
</ul>