<header>
  <h1>Devices Under Test</h1>
</header> 
  
<div class="navbar">
  <a href="#" class="page-button">Profile Editor</a>
  <a href="#" class="page-button">Analysis</a>

  <div class="threshold-message">
    DUT 2 is over Threshold Temperature. Action required to shutdown test.
  </div>

  <div class="critical-message"> 
    DUT 7 is over Critical Temperature. Test was automatically aborted.
  </div>
</div>

<ul>
  <li ng-repeat="dut in $ctrl.duts">
  <div id="dut-item-{{dut.index}}">
  <div class="dut-frame green">
    <div class="dut-bar">
      <div class="dut-title">
        DUT {{dut.text}}: {{dut.temp}}&degC
      </div>

      <ul class="tab-bar">
        <li class="tab-title Channels" ng-click="openChannels()">Channels</li>
        <li class="tab-title 5-min" ng-click="open5min()">5 Minutes</li>  
        <li class="tab-title 1-hour" ng-click="open1hr()">1 Hour</li>
        <li class="tab-title 10-hour" ng-click="open10hr()">10 Hours</li>
      </ul>
        
      <label class="switch">
        <input type="checkbox">
        <div class="switch slider round"></div>
      </label>
    </div>


    <div class="dut-page">

      <div id="Channels" class="Channels tab">
        <h3 class="tab-title">Channel Voltages</h3>
        <div class="col-1">
          <div class="channel-title">VDD: {{dut.VDD}}</div>
          <div class="channel-title">VCC: {{dut.VCC}}</div>
          <div class="channel-title">VIO: {{dut.VIO}}</div>
          <div class="channel-title">Other Power: {{dut.OtherPower}}</div>
          <div class="channel-title">SYSCLK: {{dut.SYSCLK}}</div>
          <div class="channel-title">NPOR: {{dut.NPOR}}</div>
          <div class="channel-title">INT: {{dut.INT}}</div>
          <div class="channel-title">EWOK: {{dut.EWOK}}</div>
          <div class="channel-title">SLAVE: {{dut.SLAVE}}</div>
          <div class="channel-title">ADC3: {{dut.ADC3}}</div>
          <div class="channel-title">PSR1: {{dut.PSR1}}</div>
          <div class="channel-title">PSR2: {{dut.PSR2}}</div>
          <div class="channel-title">PSR3: {{dut.PSR3}}</div>
          <div class="channel-title">NSR: {{dut.NSR}}</div>
          <div class="channel-title">D5V: {{dut.D5V}}</div>
          <div class="channel-title">VLDO: {{dut.VLDO}}</div>
        </div>
        <div class="col-2">
          <div class="channel-title">VCP: {{dut.VCP}}</div>
          <div class="channel-title">5VISO_CTRB: {{dut.5VISO_CTRB}}</div>
          <div class="channel-title">BSR: {{dut.BSR}}</div>
          <div class="channel-title">PLR: {{dut.PLR}}</div>
          <div class="channel-title">SPA,B,C: {{dut.SPABC}}</div>
          <div class="channel-title">VCM: {{dut.VCM}}</div>
          <div class="channel-title">DSA1,2: {{dut.DSA12}}</div>
          <div class="channel-title">[Common Block]: {{dut.CommonBlock}}</div>
          <div class="channel-title">[ADC Block]: {{dut.ADCBlock}}</div>
          <div class="channel-title">[Load/Unload System]: {{dut.LoadUnloadSystem}}</div>
          <div class="channel-title">[Shock Block]: {dut.ShockBlock}}</div>
          <div class="channel-title"></div>
          <div class="channel-title"></div>
          <div class="channel-title"></div>
          <div class="channel-title"></div>
          <div class="channel-title"></div>
        </div>
      </div>

      <div id="5-min" class="tab">
        <h3 class="tab-title">5 Minute Analysis</h3>
      </div>

      <div id="1-hour" class="tab">
        <h3 class="tab-title">1 Hour Analysis</h3>
      </div>

      <div id="10-hour" class="tab">
        <h3 class="tab-title">10 Hour Analysis</h3>
      </div>
    </div>
  </div>
  </div>
  </li>
</ul>