<div ng-hide="hideProfs">
<header>
  <h1>Profiles</h1>
</header>

<ul>
  <li ng-repeat="profile in $ctrl.profiles">
  <div id="profile-item-{{profile.index}}">
    <div class="profile-frame orange">
      <div class="profile-bar">
        <div class="profile-title" ng-click="openThresholds(profile.index)">
          Profile {{profile.index}}
        </div>
        
        <a href="" class="profile-editor-link" ng-click="profEdit()">Edit</a>
      </div>
    </div>
  </div>
  </li>
</ul>

<a href="" class="new-profile-link orange">
  New Profile
</a>
</div>

<profile-editor ng-hide="hideProfEdit"></profile-editor>
