<header>
  <h1>Profiless</h1>
</header>

<div>profile 1</div>


<ul>
  <li ng-repeat="profile in $ctrl.profile">
    <div class="profile-frame green">
      <div class="profile-bar">
        <div class="profile-title">
          <div>profile</div>
        </div>
      </div>
    </div>
  </li>
</ul>
-->

<ul>
  <li ng-repeat="prof in $ctrl.profs">
    <div id="prof-item-{{prof.index}}">
    <div class="prof-bar">
      <div class="prof-title">
        Profile 1
      </div>
    </div>
  </li>
</ul>
-->
